<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增图书信息管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-book-add">

            <div class="form-group">
                <label class="col-sm-3 control-label">图书分类：</label>
                <div class="col-sm-8">
                    <select id="bookType" name="bookType" class="form-control select2-multiple" >
                        <option th:each="post:${bookTypes}" th:value="${post.id}" th:text="${post.name}" th:disabled="${post.delFlag == 1}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">图书名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图书作者：</label>
                <div class="col-sm-8">
                    <input name="author" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图书数量：</label>
                <div class="col-sm-8">
                    <input name="number" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版社：</label>
                <div class="col-sm-8">
                    <input name="publish" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="pubTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <textarea name="introduction" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准书号：</label>
                <div class="col-sm-8">
                    <input name="isbn" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">语言：</label>
                <div class="col-sm-8">
                    <div class="input-group" style="width: 100%">
                        <select name="language" class="form-control m-b" th:with="type=${@dict.getType('book_language')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-3 control-label">图书价格：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <!--<th:block th:include="include :: select2-js" />-->
    <script th:inline="javascript">
        var prefix = ctx + "system/book"
        $("#form-book-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-book-add').serialize());
            }
        }

        $("input[name='pubTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


        $(function() {
            $('#bookType').select2({
                placeholder: "请选择图书分类",
                allowClear: true
            });
        })

    </script>
</body>
</html>