<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('JSON对比列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>clustag：</label>
                            <input type="text" name="clustag"/>
                        </li>
                        <li>
                            <label>accountId：</label>
                            <input type="text" name="accountId"/>
                        </li>
                        <li>
                            <label>baggage：</label>
                            <input type="text" name="baggage"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:type:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-success" onclick="$.operate.addJson()">
                <i class="fa fa-plus"></i> 添加JSON
            </a>

            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:type:remove">
                <i class="fa fa-remove"></i> 删除
            </a>

            <a class="btn btn-danger multiple disabled" onclick="$.operate.diffJson()">
                <i class="fa fa-remove"></i> 对比
            </a>

        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:type:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:type:remove')}]];
    var prefix = ctx + "system/record";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            createJsonUrl: prefix + "/addJson",
            removeUrl: prefix + "/remove",
            diffJsonUrl: prefix + "/diffJson",
            modalName: "JSON对比列表",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id主键',
                    visible: false
                },
                {
                    field: 'clustag',
                    title: 'clustag'
                },
                {
                    field: 'accountId',
                    title: 'accountId'
                },
                {
                    field: 'baggage',
                    title: 'baggage'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>