<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TBookEntityMapper">

    <resultMap type="TBookEntity" id="TBookEntityResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="number" column="number"/>
        <result property="publish" column="publish"/>
        <result property="pubTime" column="pub_time"/>
        <result property="introduction" column="introduction"/>
        <result property="isbn" column="isbn"/>
        <result property="language" column="language"/>
        <result property="languageName" column="languageName"/>
        <result property="price" column="price"/>
        <result property="bookType" column="book_type"/>
        <result property="bookTypeName" column="bookTypeName"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="selectTBookEntityVo">
        select id, name, author, number, publish, pub_time, introduction, isbn, language, price, book_type, del_flag, create_user, create_time, update_user, update_time, ts from t_book
    </sql>

    <select id="selectTBookEntityList" parameterType="TBookEntity" resultMap="TBookEntityResult">
        select book.id, book.name, book.author, book.number, book.publish,
        book.pub_time, book.introduction, book.isbn, book.language,
        CASE book.language
        WHEN 1 THEN '中文'
        WHEN 2 THEN '英语'
        ELSE '其他语言' END as languageName,
        book.price, type.name as bookTypeName,
        book.del_flag, book.create_user, book.create_time,
        book.update_user, book.update_time, book.ts
        from t_book book
        left join t_book_type type on type.id = book.book_type
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="author != null  and author != ''">and author = #{author}</if>
            <if test="number != null ">and number = #{number}</if>
            <if test="publish != null  and publish != ''">and publish like concat('%',#{publish}, '%')</if>
            <if test="pubTime != null ">and pub_time = #{pubTime}</if>
            <if test="introduction != null  and introduction != ''">and introduction = #{introduction}</if>
            <if test="isbn != null  and isbn != ''">and isbn = #{isbn}</if>
            <if test="language != null ">and language = #{language}</if>
            <if test="price != null ">and price = #{price}</if>
            <if test="bookType != null ">and book_type = #{bookType}</if>
            <if test="createUser != null ">and create_user = #{createUser}</if>
            <if test="updateUser != null ">and update_user = #{updateUser}</if>
            <if test="ts != null ">and ts = #{ts}</if>
            and book.del_flag = 0
        </where>
    </select>

    <select id="selectTBookEntityById" parameterType="Long" resultMap="TBookEntityResult">
        <include refid="selectTBookEntityVo"/>
        where id = #{id}
    </select>

    <select id="checkBookName" resultType="com.ruoyi.system.domain.TBookEntity">
        <include refid="selectTBookEntityVo"/>
        <where>
            <if test="name != null  and name != ''">and name = #{name} and del_flag = 0</if>
        </where>
    </select>

    <select id="checkIsbn" resultType="com.ruoyi.system.domain.TBookEntity">
        <include refid="selectTBookEntityVo"/>
        <where>
            <if test="isbn != null  and isbn != ''">and isbn = #{isbn} and del_flag = 0</if>
        </where>
    </select>

    <insert id="insertTBookEntity" parameterType="TBookEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="author != null">author,</if>
            <if test="number != null">number,</if>
            <if test="publish != null">publish,</if>
            <if test="pubTime != null">pub_time,</if>
            <if test="introduction != null">introduction,</if>
            <if test="isbn != null">isbn,</if>
            <if test="language != null">language,</if>
            <if test="price != null">price,</if>
            <if test="bookType != null">book_type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="ts != null">ts,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="author != null">#{author},</if>
            <if test="number != null">#{number},</if>
            <if test="publish != null">#{publish},</if>
            <if test="pubTime != null">#{pubTime},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="isbn != null">#{isbn},</if>
            <if test="language != null">#{language},</if>
            <if test="price != null">#{price},</if>
            <if test="bookType != null">#{bookType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="ts != null">#{ts},</if>
        </trim>
    </insert>

    <update id="updateTBookEntity" parameterType="TBookEntity">
        update t_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="author != null">author = #{author},</if>
            <if test="number != null">number = #{number},</if>
            <if test="publish != null">publish = #{publish},</if>
            <if test="pubTime != null">pub_time = #{pubTime},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="isbn != null">isbn = #{isbn},</if>
            <if test="language != null">language = #{language},</if>
            <if test="price != null">price = #{price},</if>
            <if test="bookType != null">book_type = #{bookType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ts != null">ts = #{ts},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTBookEntityById" parameterType="Long">
        delete from t_book where id = #{id}
    </delete>

    <delete id="deleteTBookEntityByIds" parameterType="String">
        delete from t_book where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteLogicTBookEntityByIds" parameterType="String">
        update t_book set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

</mapper>